<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hyundai EXTER | Booking open | Hyundai Motor India</title>
	<link rel="stylesheet" href="/static/css/style.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="icon" href="/static/css/images/Untitled.png" type="image/gif" sizes="16x16">
</head>
<body style="background:   rgb(247, 244, 244);">

    <div class="navb">
        <div class="logo1">
            <a href="index.html"><img src="/static/css/images/Hyundai-Logo-PNG-Black.png" alt=""></a>
        </div>
        <div class="items">
            <ul class="op">
              <li>CTB Jour</li>
              <li>Mobility</li>
              <li>Connect to Service</li>
              <li>Hyundai Story</li>
              <li>IONIQ5</li>
              <li style="color: white;">______</li>
              <li><a href="contact.html"><i class="bi bi-person text-secondary"></i></a></li> 
              
              <li><i class="bi bi-handbag"></i></li>
              
            </ul>
          </div>
    </div>

    <br><br><br><br><br>
    <center>
        <div class="box">
            <br><br>
        <h6>Just enter your mobile number to get started.</h6>
        <div class="num">
        <input type="text" placeholder="please enter your number">
        </div>
        <p> Don't worry, if you are already registered your journey will start from your last saved step. </p>
        <button><a href="#">verify</a></button>
        </div>
        <br>
        <label>Please click here to <a href="email.html" class="bt">Login with Email ID</a></label>
    </center>
    <br><br><br><br><br>
    <div class="footr">
        <div class="folo">
            <img src="/static/css/images/Untitled.png" alt="">
        </div>
        <div class="menus">
            <ul>
                <li>Worldwide |</li>
                <li>Contact Us |</li>
                <li>Legal Disclaimer |</li>
                <li>Sitemap |</li>
                <li>Hyundai Suppilers |</li>
                <li>Dealer Application |</li>
            </ul>
        </div>
        <div class="ico">
            <ul>
                <li><i class="bi bi-facebook" style="color:white;"></i></li>
                <li><i class="bi bi-youtube"  style="color:white;"  ></i></li>
                <li><i class="bi bi-twitter"  style="color:white;"></i></li>
                <li><i class="bi bi-linkedin" style="color:white;"></i></li>
                <li><i class="bi bi-instagram"  style="color:white;"></i></li>
                <li><i class="bi bi-whatsapp"  style="color:white;"></i></li>
            </ul>
        </div>
        
        <p>Copyright 2023 Hyundai Motor India. All Rights Reserved</p>
        

    </div>
        
    



  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">	  
</body>
</html>