<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Hyundai Car Dealers in India| Hyundai Motor India</title>
	<link rel="stylesheet" href="/static/css/style.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="icon" href="/static/css/images/Untitled.png" type="image/gif" sizes="16x16">
</head>
<body>
	<div class="navb">
		<div class="logo1">
			<a href="index.html"><img src="/static/css/images/Hyundai-Logo-PNG-Black.png" alt=""></a>
		</div>
		<div class="items">
			<ul class="op">
			  <li>Find a Car</li>
			  <li>Cl!ck to Buy</li>
			  <li>Connect to Service</li>
			  <li>Hyundai Story</li>
			  <li>Mobility Solution</li>
			  <li>Contact Us</li>
			  <li><a href="contact.html"><i class="bi bi-person text-secondary"></i></li> 
			  <li><a href="location.html"><i class="bi bi-geo-alt text-secondary"></i></a></li>
			  <li><i class="bi bi-share"></i></li>
			  <li><i class="bi bi-search"></i></li>
			</ul>
		  </div>
	</div>
	<br><br><br>
		<div class="sec1">
			<div class="link">
				<br><br>
				<a href="home.html">Home</a>
				>
				<a href="">Find a Car</a>
				>
				<a href=""><Strong>Hyundai EXTER</Strong></a>
			</div>
			<div class="lopic">
				<h1>Find a Dealer and Website</h1>
				<p>Select a Service You Want</p>
				<img src="/static/css/images/Hyundai_Buy-a-car_Find_a_dealer_MainKV_PC_1860x540_1.jpg" alt="">
					
			</div>
		</div>
		<div class="sear">
			<div class="drop">
				<select name="" id="">
					<option value="">Used Car</option>
					<option value="">Select Dealership</option>
					<option value="">Sales Showroom</option>
					<option value="">Serivce Workshop</option>
				</select>
			</div>
			<div class="drop">
				<select name="" id="">
					<option value="">Select a Modele</option>
					<option value="">New Grand i10 NIOS</option>
					<option value="">All New i20</option>
					<option value="">i20 N Line</option>
					<option value="">Kona Electric</option>
					<option value="">AURA</option>
					<option value="">All New Verna</option>
					<option value="">New Venu</option>
					<option value="">New Creata</option>
					<option value="">Select a Modele</option>
					<option value="">Select a Modele</option>
					<option value="">Select a Modele</option>

				</select>
			</div>
			<div class="drop">
				<select name="" id="">
					<option value="">Select State</option>
				</select>
			</div>
			<div class="drop">
				<select name="" id="">
					<option value="">Select City</option>
				</select>
			</div>
			<button><a href="">Search</a></button>

		</div>
		<div class="buttons">
			<button><a href="">Book Now</a></button>
			<button><a href="">Book Now</a></button>
			<button><a href="">Book Now</a></button>
			<button><a href="">Book Now</a></button>
		</div>

		<div class="footr">
			<div class="folo">
				<img src="/static/css/images/Untitled.png" alt="">
			</div>
			<div class="menus">
				<ul>
					<li>Worldwide |</li>
					<li>Contact Us |</li>
					<li>Legal Disclaimer |</li>
					<li>Sitemap |</li>
					<li>Hyundai Suppilers |</li>
					<li>Dealer Application |</li>
				</ul>
			</div>
			<div class="ico">
				<ul>
					<li><i class="bi bi-facebook" style="color:white;"></i></li>
					<li><i class="bi bi-youtube"  style="color:white;"  ></i></li>
					<li><i class="bi bi-twitter"  style="color:white;"></i></li>
					<li><i class="bi bi-linkedin" style="color:white;"></i></li>
					<li><i class="bi bi-instagram"  style="color:white;"></i></li>
					<li><i class="bi bi-whatsapp"  style="color:white;"></i></li>
				</ul>
			</div>
			
			<p>Copyright 2023 Hyundai Motor India. All Rights Reserved</p>
			

		</div>
		
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">		
</body>
</html>